.container-first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.container-name {
    display: flex;
    flex-direction: column;
    
    height: 50px;
    width: 100%;
}

.container-name input {
    width: 80%;
}

.container-email {
    display: flex;
    flex-direction: column;
    
    height: 50px;
    width: 100%;
}

.container-email input {
    width: 80%;
}

.container-second {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.container-phone {
    display: flex;
    flex-direction: column;
    
    height: 50px;
    width: 100%;
}

.container-phone input {
    width: 70%;
}

.container-date {
    display: flex;
    flex-direction: column;
    
    height: 50px;
    width: 100%;
}

.container-date input {
    width: 57%;
}

.container-photo {
    display: flex;
    flex-direction: column;
    
    height: 50px;
}

.container-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 0.5em;
}

.span-error {
    color: red;
}

.btn {
    background-color: rgba(1, 241, 4, 0.4);

    font-size: 1.3em;
    color:  #01F104;
    filter: brightness(65%);  
}

/* .submit {
    background-color: rgba(1, 241, 4, 0.4);

    border-radius: 10px;
    border: none;

    width: 120px;
    height: 35px;

    font-size: 1.3em;
    color:  #01F104;
    filter: brightness(65%);
}

.submit:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */

.inner-btn-submit {
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: flex;
    justify-content: space-between;
}

.icon-submit-btn {
    color:  #01F104;
    filter: brightness(65%);
}